env/
venv/
.env 
.vscode/

node_modules/

docs/

tests/

.vscodecounter/

todo.txt

server/.coverage
server/pytest.ini

parser/
words_by_parser/

.idea/

.DS_Store

__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

*.bak
*.swp