.footer {
  color: var(--text);
  padding: var(--spacing-sm) 0;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

.contact {
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.link {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--secondary);
}