.main_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    background-color: var(--background);
}

.wpmContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    width: 100%;
    max-width: 600px;
}

.stats {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    justify-content: center;
}

.stats span:first-child {
    font-weight: bold;
}

.stats span {
    font-size: var(--font-size-lg);
    color: var(--primary);
    background-color: var(--surface);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary);
    min-width: 100px;
    text-align: center;
}

.controls {
    display: flex;
    gap: var(--spacing-md);
    flex-wrap: wrap;
    justify-content: center;
}

.levelSelect,
.stageSelect {
    background-color: var(--surface);
    color: var(--text);
    border: 1px solid var(--primary);
    padding: var(--spacing-xss) var(--spacing-sm);
    border-radius: 8px;
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.levelSelect:focus,
.stageSelect:focus {
    outline: none;
    border-color: var(--secondary);
}

.resetButton {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: var(--spacing-xss) var(--spacing-sm);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--font-size-lg);
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.resetButton:hover {
    background-color: var(--secondary);
}

.wordsList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
    max-width: 600px;
}